#hero_e-shop {
    background-image: url("../assets/images/img20.png");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    position: relative;
    min-height: 700px;
    .container {
        width: 35%;
        margin: auto;
        text-align: center;
        position: relative;
        top: 200px;
    }
    h2 {
        width: 750px;
        text-transform: uppercase;
        position: relative;
        left: -50px;
        font-size: 60px;
    }
    img {
        position: relative;
        top: 400px;
    }
}

section {
    margin-top: 30px;
}