@import "./global";
header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 45px;
    }
    div {
        display: block;
        // z-index: 100;
    }
    ul {
        // display: flex;
        display: block;
        // z-index: 100;
    }
    li {
        display: inline-block;
        list-style: none;
        padding: 10px;
    }
    a {
        text-decoration: none;
        color: $white;
        font-size: 17px;
        // z-index: 100;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        width: 15%;
        height: 15%;
    }
}

.nav-link {
    color: white;
}

.active {
    font-weight: bolder;
    text-decoration: underline;
    color: white !important;
}


/* nav{
    height: 132px; 
    background-color: black !important;
    } */

.navbar-toggler {
    background-color: white !important;
    float: right;
}