@import "./global";
#home {
    #hero {
        background-image: url(../assets/images/img1.png);
        height: 800px;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #19587d;
        background-size: cover;
        z-index: 100 !important;
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 60%;
            margin: 0 auto;
            padding-top: 150px;
        }
        .titre {
            margin: 20px 0;
        }
    }
    .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 80px;
        top: 230px;
    }
    .scroll .social {
        margin-top: 15px;
    }
    /* Design de la section batman personnage */
    #batman-cinema,
    #batman-justice-league {
        margin-top: 40px;
    }
    .batman-personnage {
        display: flex;
        justify-content: space-between;
    }
    // #batman-cinema .titre, #batman-justice-league .titre{
    //     text-transform: uppercase;
    //     font-weight: bold;
    //     margin: 30px 0;
    // }
    // #batman-cinema .description, #batman-justice-league .description{
    //     margin-bottom: 40px;
    //     text-align: justify;
    //     width: 80%;
    //     font-size: 21px;
    // }
    // #batman-cinema .personnage-info{
    //     text-align: center;
    // }
    #league {
        background: url(../assets/images/img11.png);
        background-size: cover;
        filter: opacity(25%);
        min-height: 75vh;
        h2,
        p {
            width: 80%;
            margin: auto;
        }
    }
    // Design de la section multimedia
    #multimedia {
        .annonce {
            display: flex;
            justify-content: center;
            img {
                border-top: 1px solid $gray;
                border-left: 1px solid $gray;
                border-bottom: 1px solid $gray;
                border-radius: 25px 0px 0px 25px;
            }
            div {
                width: 50%;
                padding: 15px;
                background: linear-gradient(120deg, $black 40%, $blue);
                border-top: 1px solid $gray;
                border-right: 1px solid $gray;
                border-bottom: 1px solid $gray;
                border-radius: 0px 25px 25px 0px;
            }
            span {
                color: $yellow;
            }
        }
        img[alt*="gauche"] {
            float: left;
            position: relative;
            top: 100px;
        }
        img[alt*="droite"] {
            float: right;
            position: relative;
            top: -150px;
        }
    }
    // Design de la section contact
    #contact {
        // background: linear-gradient(135deg, $black 50%, $blue 100%);
        background: url(../assets/images/img16.png);
        background-size: cover;
        filter: opacity(50%);
        margin: 50px 0px;
        padding: 30px 0px;
        h2 {
            text-align: center;
        }
        form {
            width: 80%;
            margin: auto;
            font-size: 22px;
            p {
                padding: 15px 0px;
            }
            select,
            option {
                width: 100%;
                font-size: 18px;
                border-bottom: 2px solid $gray;
                color: $gray;
                padding: 15px 0px;
                background: none;
            }
            input[type="radio"] {
                display: none;
            }
            label[for="film"],
            label[for="comic"],
            label[for="tout"] {
                border: 1px solid $blue;
                background: none;
                display: inline-block;
                color: $white;
                padding: 15px;
                margin: 15px;
                &:hover {
                    background: linear-gradient(135deg, $black, $blue);
                    opacity: 100%;
                }
            }
            input[type="submit"] {
                margin: auto;
                padding: 15px 30px;
                border: none;
                background: linear-gradient(90deg, $gray, $red);
                opacity: 40%;
                color: $white;
                &:hover {
                    opacity: 100%;
                }
            }
            .saisi {
                width: 100%;
                font-size: 18px;
                border: none;
                border-bottom: 2px solid $gray;
                background: none;
            }
            .cent {
                text-align: center;
            }
        }
    }
    // Design de la section citation
    #citation {
        display: flex;
        justify-content: space-around;
        margin: 50px 0px;
        padding: 50px 50px;
        div:not(div[class="container"]) {
            width: 50%;
            margin: auto;
            text-align: center;
            p {
                margin: 30px 0px;
            }
            .auteur {
                color: $gray;
                width: 65%;
                margin: auto;
            }
        }
        img[alt*="gauche"] {
            float: left;
            position: relative;
            top: -50px;
        }
        img[alt*="droite"] {
            float: right;
            position: relative;
            top: 50px;
        }
    }
}